@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
   font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Headern/bilden "spiket" */
#header a{
    text-align: center;
}

/* Navbar */
.navbar {
    width: 100vw;
}
.navbar-toggler {
    border: none;
}
  
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
    color:rgb(145, 1, 1);
}

#navbarCollapse ul li ul li a:active{
    background-color:#900909;
}

#navbarCollapse .navbar-nav .dropdown-menu .dropdown-item.active{
    background-color:#900909;
}

.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0 0.7rem;
}
  
.navbar-toggler .icon-bar {
    display: block;
    background-color: #6d6d6d;
    height: 2px;
    width: 22px;
    margin: 4px 0;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease-out;
    transform-origin: center left;
}
  
/* Animate X */
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
   transform: rotate(45deg);
   transform-origin: 10% 10%;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
   opacity: 0;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
   transform: rotate(-45deg);
   transform-origin: 10% 90%;
} 
  
/* Animate Hamburger */
.navbar-toggler .icon-bar:nth-child(1) {
   transform: rotate(0);
} 
/* middle line goes back to regular color and opacity */
.navbar-toggler .icon-bar:nth-child(2) {
   opacity: 1;
} 
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler .icon-bar:nth-child(3) {
   transform: rotate(0);
}
/* Footer */
footer{
    margin-top: 40px;
}

i{
    color: blue;
}

.footer-content {
    text-align: center;
}

p {
    font-size: 15px;
}

.social {
    font-size: 35px;
    margin: 16px;
}

.social img{
    height: 20px;
}

#sammarbete img{
    height: 75px;
}


#förslag img{
    height: 60px;
    float: left;
}
#beställning img{
    height: 40px;
    width: 40px;
    float: left;
}
#förslag{
    margin-top: 17px;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #sammarbete img{
        height: 50px;
    }
    #förslag img{
        height: 30px;
    }
    #beställning img{
        height: 20px;
        width: 20px;
    }

    #sammarbete p, #förslag p, #beställning p, #adress p{
        font-size: 10px;
    }
    
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #sammarbete img{
        height: 60px;
    }
    #förslag img{
        height: 50px;
    }
    #beställning img{
        height: 30px;
        width: 30px;
    }
    #sammarbete p, #förslag p, #beställning p, #adress p{
        font-size: 15px;
    }
    
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #sammarbete img{
        height: 50px;
    }
    #förslag img{
        height: 80px;
    }
    #beställning img{
        height: 50px;
        width: 50px;
    }
    #sammarbete p, #förslag p, #beställning p, #adress p{
        font-size: 20px;
    }  
}

/* Index */

#framsida{
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

#framsida img{
    height: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

        /* Mobil */
@media only screen 
and (max-width:480px){
    #framsida img{
        height: 250px;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #framsida img{
        height: 350px;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #framsida img{
        height: 450px;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

/* adressuppgifter */
#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}


#adressuppg{
    margin-top: 4%;
    margin-bottom: 10%;
}
#karta{
    text-align: end;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #karta img{
        height: 350px;
    }
    #karta{
        text-align: center;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #karta img{
        height: 350px;
    }
    
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #karta img{
        height: 350px;
    }
    
}

/* blogg */


/* café */
#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#övre p{
    margin-top: 2%;
}

#café{
    margin-top: 5%;
}

#café img{
    margin-right: 5%;
    float: left;
    height: 80%;    
}

#café a{
    color:black;
}

#café a:visited{
    color:grey;
}

#café a:hover{
    color:darkred;
}


li{
    list-style: none;
    
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #café img{
        height: 250px;
        float: none;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #café img{
        height: 350px;
        float: none;
    }
    
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #café img{
        height: 450px;
    }
    
}

/* flaggor */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}


#cocktailflaggor{
    margin-top: 4%;
    margin-bottom: 10%;
}
#bild{
    text-align: end;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #bild img{
        height: 300px;
    }
    #bild{
        text-align: center !important;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #bild img{
        height: 300px;
    }
    #bild{
        text-align: center !important;
    }
}

        /* Laptops 
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #{
    }
}*/

/* frukost */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#info{
    margin-bottom: 10%;
}
#frukost-bild{
    text-align: center;
    margin-bottom: 5%;
}
#frukost{
    margin-top: 5%;
}

/* kakor */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#galleri{
    margin-top: 5%;
    margin-bottom: 15%;
}

#galleri p{
    text-align: center;
    margin-bottom: 5%;
}

#galleri img{
    margin: auto;
    padding: 0;
}

/* lego */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#lego img{
    float: left;
    margin-right: 3%;
    width: 40%;
}

#lego{
    margin-top: 3%;
    margin-bottom: 2%;
}

/* pasta-chark */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}


#pastasallad, #charktallrik{
    margin-top: 4%;
    margin-bottom: 10%;
}
#bild{
    text-align: end;
}

/* personal */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#personal{
    margin: auto;
    max-width: 60%;
    min-width: none;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 5%;
    
}
#personal h1{
    margin-top: 3%;
}

/* prislista */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#övre p{
    margin-top: 2%;
}

#prislista{
    text-align: center; 
    margin-bottom: 10%;
}

#prislista img{
    margin-top: 2%;
}

/* Socialt kooperativ */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#socialt img{
    float: left;
    margin-right: 3%;
}

#socialt{
    margin-top: 3%;
    margin-bottom: 2%;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #socialt img{
        float: none;
        width: 380px;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #socialt img{
        float: none;
        width: 430px;
    }
}

/* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #socialt img{
        width: 600px;
    }
}

/* stadgar */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#stadgar{
    margin-top: 6%;
    margin-bottom: 6%;
}

/* styrelsen */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#sammansättning{
    margin-bottom: 10%;
}
#styrelse-bild{
    text-align: center;
}
#styrelsen{
    margin-top: 5%;
}

/* sy-bilder */

#galleri{
    margin-top: 5%;
    margin-bottom: 15%;
}

#galleri p{
    text-align: center;
    margin-bottom: 5%;
}

#galleri img{
    margin: auto;
    padding: 0;
}

/* syataljé */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#sy-info{
    margin-bottom: 10%;
}
#sy-bild{
    text-align: center;
    margin-bottom: 5%;
}
#sy{
    margin-top: 5%;
}

    /* Mobil */
    @media only screen 
    and (max-width:480px){
        #sy-info img{
            width:350px;   
           }
    }

            /* Surfplatta */
    @media only screen 
    and (min-width:481px) 
    and (max-width:768px){
        #sy-info img{
          width: 300px;
        }
        
    }
    

    
            /* Laptops */
    @media only screen
    and (min-width:769px) 
    and (max-width:1024px){
        #sy-info img{
            width: 350px;
        }
    }
    

/* tårta */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#galleri{
    margin-top: 5%;
    margin-bottom: 15%;
}

#galleri p{
    text-align: center;
    margin-bottom: 5%;
}

#galleri img{
    margin: auto;
    padding: 0;
}
h5{
    color: black;
}

/* utbildning */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#utbildning img{
    margin-right: 5%;
    float: left;
    height: 80%;  
}
/* Mobil */
@media only screen 
and (max-width:480px){
    #utbildning{
        margin-bottom: 20%;
    }

    #utbildning img{
        float: none;
        height: 65%;
    }
}
/* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #utbildning{
        margin-bottom: 30%;
    }
    #utbildning img{
        height: 40%;
        
    }
}

/* vilka-är-vi */

#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#vi img{
    float: right;
    margin-right: 3%;
}

#vi{
    margin-top: 3%;
    margin-bottom: 2%;
}

#presentation img{
    float: left;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #vi img{
        width: 300px;
        text-align: center !important;
        float: none;
    }

    #presentation img{
        float: none;
        width: 150px;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #vi img{
        width: 400px;
        text-align: center !important;
        float: none;
    }
}