@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
   font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* Samma för alla sidor */
#övre{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    
}
#övre p{
    margin-top: 2%;
}
#övre h2, #framsida h1{
   color: rgb(164, 14, 95); 
}
#café a, #syataljé a, #framsida a, #sy-info a, #lego a, #frukost a, #vi a, #utbildning a,
#personal a, #besökadress a{
    color:rgb(164, 14, 95);
}

#café a:visited, #syataljé a:visited, #framsida a:visited, #sy-info a:visited, #lego a:visited,
#frukost a:visited, #vi a:visited, #utbildning a:visited, #personal a:visited, #besökadress a:visited{
    color:rgb(226, 76, 157);
}

#café a:hover, #syataljé a:hover, #framsida a:hover, #sy-info a:hover, #lego a:hover, #frukost a:hover,
#vi a:hover, #utbildning a:hover, #personal a:hover, #besökadress a:hover{
    color:rgb(254, 123, 193);
}

/* Headern/bilden "spiket" */
#header a{
    text-align: center;
}

/* Navbar */
.navbar {
    width: 100vw;
}
.navbar-toggler {
    border: none;
}
  
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
    color:rgb(226, 76, 157);
}

#navbarCollapse ul li ul li a:active{
    background-color:rgb(226, 76, 157);
}

#navbarCollapse .navbar-nav .dropdown-menu .dropdown-item.active{
    background-color:rgb(226, 76, 157);
}

.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0 0.7rem;
}
  
.navbar-toggler .icon-bar {
    display: block;
    background-color: #6d6d6d;
    height: 2px;
    width: 22px;
    margin: 4px 0;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.3s ease-out;
    transform-origin: center left;
}
  
/* Animate X */
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
   transform: rotate(45deg);
   transform-origin: 10% 10%;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
   opacity: 0;
}
  
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
   transform: rotate(-45deg);
   transform-origin: 10% 90%;
} 
  
/* Animate Hamburger */
.navbar-toggler .icon-bar:nth-child(1) {
   transform: rotate(0);
} 
/* middle line goes back to regular color and opacity */
.navbar-toggler .icon-bar:nth-child(2) {
   opacity: 1;
} 
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler .icon-bar:nth-child(3) {
   transform: rotate(0);
}
/* Footer */
footer{
    margin-top: 40px;
}

.footer-content {
    text-align: center;
}

p {
    font-size: 15px;
}

.social {
    font-size: 35px;
    margin: 16px;
}

.social img{
    height: 30px;
}

#sammarbete img{
    height: 75px;
}


#förslag img{
    height: 53px;
    
}
#beställning img{
    height: 40px;
    width: 40px;
    float: left;
}


/* Mobil */
@media only screen 
and (max-width:480px){
    #sammarbete img{
        height: 50px;
    }
    #förslag img{
        height: 33px;
    }
    #beställning img{
        height: 20px;
        width: 20px;
    }

    #sammarbete p, #förslag p, #beställning p, #adress p{
        font-size: 10px;
    }
    
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #sammarbete img{
        height: 60px;
    }
    #förslag img{
        height: 53px;
    }
    #beställning img{
        height: 30px;
        width: 30px;
    }
    #sammarbete p, #förslag p, #beställning p, #adress p{
        font-size: 10px;
    }
    
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #sammarbete img{
        height: 50px;
    }
    #förslag img{
        height: 83px;
    }
    #beställning img{
        height: 50px;
        width: 50px;
    }
    #sammarbete p, #förslag p, #beställning p, #adress p{
        font-size: 15px;
    }  
}

/* Index */

#framsida{
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

#framsida img{
    height: 600px;
    margin-top: 5%;
    margin-bottom: 10%;
}

        /* Mobil */
@media only screen 
and (max-width:480px){
    #framsida img{
        height: 210px;
        width: 320px;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #framsida img{
        height: 350px;
        width: 470px;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #framsida img{
        height: 450px;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

/* adressuppgifter */
#adressuppg{
    margin-top: 4%;
    margin-bottom: 10%;
}
#karta{
    text-align: end;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #karta img{
        height: 350px;
    }
    #karta{
        text-align: center;
    }
    #adressuppg{
        text-align: center;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #karta img{
        height: 350px;
    }
    
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #karta img{
        height: 350px;
    }
    
}

/* blogg */


/* café */
#café{
    margin-top: 5%;
}

#café img{
    margin-right: 5%;
    float: left;
    height: 80%;    
}

li{
    list-style: none;
    
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #café img{
        height: 250px;
        float: none;
    }
    #café{
        text-align: center;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #café img{
        height: 350px;
        float: none;
    }
    
}

        /* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #café img{
        height: 450px;
    }
    
}

/* flaggor */
#cocktailflaggor{
    margin-top: 4%;
    margin-bottom: 10%;
}
#bild{
    text-align: end;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #bild img{
        height: 300px;
    }
    #bild{
        text-align: center !important;
    }
    #cocktailflaggor{
        text-align: center;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #bild img{
        height: 300px;
    }
    #bild{
        text-align: center !important;
    }
}

        /* Laptops 
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #{
    }
}*/

/* frukost */
#info{
    margin-bottom: 10%;
}
#frukost-bild{
    text-align: center;
    margin-bottom: 5%;
}
#frukost{
    margin-top: 5%;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #frukost{
        text-align: center;
    }
    #frukost img{
        height: 300px;
    }
    
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #bild img{
        height: 300px;
    }
}

        /* Laptops 
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #{
    }
}*/

/* kakor */
#galleri{
    margin-top: 5%;
    margin-bottom: 15%;
}

#galleri p{
    text-align: center;
    margin-bottom: 5%;
}

#galleri img{
    margin: auto;
    padding: 0;
}

/* lego */
#lego img{
    float: left;
    margin-right: 3%;
    width: 40%;
}

#lego{
    margin-top: 3%;
    margin-bottom: 2%;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #lego img{
        float: none;
        width: 300px;
    }
    #lego{
        text-align: center;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #lego img{
        
        width: 360px;
    }
}

/* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #lego img{
        width: 370px;
    }
}

/* pasta-chark */
#pastasallad, #charktallrik{
    margin-top: 4%;
    margin-bottom: 10%;
}
#bild{
    text-align: end;
}

/* personal */
#personal{
    margin: auto;
    max-width: 60%;
    min-width: none;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 5%;
    
}
#personal h1{
    margin-top: 3%;
}

/* prislista */
#prislista{
    text-align: center; 
    margin-bottom: 10%;
}

#prislista img{
    margin-top: 2%;
}

/* Socialt kooperativ */
#socialt img{
    float: left;
    margin-right: 3%;
}

#socialt{
    margin-top: 3%;
    margin-bottom: 2%;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #socialt img{
        float: none;
        width: 300px;
    }
    #socialt{
        text-align: center;
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #socialt img{
        
        width: 430px;
    }
}

/* Laptops */
@media only screen
and (min-width:769px) 
and (max-width:1024px){
    #socialt img{
        width: 600px;
    }
}

/* stadgar */
#stadgar{
    margin-top: 6%;
    margin-bottom: 6%;
}

/* styrelsen */
#sammansättning{
    margin-bottom: 10%;
}
#styrelse-bild{
    text-align: center;
}
#styrelsen{
    margin-top: 5%;
}
/* Mobil */
@media only screen 
and (max-width:480px){
    #sammansättning{
        text-align: center;
    }
    #styrelsen img{
        height: 300px;
    }
}

/* sy-bilder */

#galleri{
    margin-top: 5%;
    margin-bottom: 15%;
}

#galleri p{
    text-align: center;
    margin-bottom: 5%;
}

#galleri img{
    margin: auto;
    padding: 0;
}

/* syataljé */
#sy-info{
    margin-bottom: 10%;
}
#sy-bild{
    text-align: center;
    margin-bottom: 5%;
}
#sy{
    margin-top: 5%;
}

    /* Mobil */
    @media only screen 
    and (max-width:480px){
        #sy-info img{
            width:300px;   
        }
        #sy-info{
            text-align: center;
        }
    }

            /* Surfplatta */
    @media only screen 
    and (min-width:481px) 
    and (max-width:768px){
        #sy-info img{
          width: 300px;
        }
        
    }
    

    
            /* Laptops */
    @media only screen
    and (min-width:769px) 
    and (max-width:1024px){
        #sy-info img{
            width: 350px;
        }
    }
    

/* tårta */
#galleri{
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;
}

#galleri p{
    margin-bottom: 5%;
}

#galleri img{
    margin: auto;
    padding: 0;
}
h5{
    color: black;
}

#galleri a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
#galleri a:hover {
    background-color: #ddd;
    color: black;
}
  
#galleri .previous {
    background-color: #f1f1f1;
    color: black;
    
}
  
#galleri .round {
    border-radius: 50%;
    margin-bottom: 10px;
}

/* utbildning */
#utbildning img{
    margin-right: 5%;
    float: left;
    height: 80%;  
}
#sammarbets img{
    height: 40px;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #utbildning{
        margin-bottom: 20%;
        text-align: center;
    }

    #utbildning img{
        float: none;
        height: 300px;
    }
    #sammarbets img{
        height: 40px;
    }
}
/* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #utbildning{
        margin-bottom: 30%;
    }
    #utbildning img{
        height: 40%;
        
    }
    #sammarbets img{
        height: 40px;
    }
}

/* vilka-är-vi */
#vi img{
    float: right;
    margin-right: 3%;
}

#vi{
    margin-top: 3%;
    margin-bottom: 2%;
}

#presentation img{
    float: left;
}

/* Mobil */
@media only screen 
and (max-width:480px){
    #vi img{
        width: 300px;
        text-align: center !important;
        float: none;
    }

    #presentation img{
        float: none;
        width: 150px;
    }
    #vi{
        text-align: center; 
    }
}
        /* Surfplatta */
@media only screen 
and (min-width:481px) 
and (max-width:768px){
    #vi img{
        width: 400px;
        text-align: center !important;
        
    }
    #presentation img{
        float: none;
        width: 150px;
    }
}